global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    # ν”„λ΅λ©”ν…μ°μ¤ μκΈ° μμ‹ λ„ λ¨λ‹ν„°λ§ν•©λ‹λ‹¤.
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    # Node Exporterκ°€ μ„¤μΉλ λ¨λ“  μ„λ²„λ“¤μ„ κ°μ‹ν•©λ‹λ‹¤.
    static_configs:
      - targets: 
          - '10.0.2.115:9100'  # π‘ μƒλ΅μ΄ μ•± EC2 (app-ec2)μ Private IP
          - '10.0.2.12:9100'   # π‘ μƒλ΅μ΄ λ¨λ‹ν„°λ§ EC2 (monitering-ec2)μ Private IP

  - job_name: 'weather_app'
    # λ‚ μ”¨ μ•±μ΄ μ κ³µν•λ” /metrics μ—”λ“ν¬μΈνΈλ¥Ό κ°μ‹ν•©λ‹λ‹¤.
    metrics_path: /metrics
    static_configs:
      - targets: 
          - '10.0.2.115:80'     # π‘ μƒλ΅μ΄ μ•± EC2 (app-ec2)μ Private IPμ™€ ν¬νΈ

